/* BlurryBg.tsx */
.mouseTrailer {
    background: linear-gradient(to right, aquamarine, mediumpurple);
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotBlob 20s infinite;
}
@keyframes rotBlob {
    from {rotate: 0deg;}
    50% {scale: 1 1.5;}
    to {rotate: 360deg;}
}